<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= titulo %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          corporis nisi voluptates vero dicta, aut est laudantium, earum error
          laborum excepturi. Eligendi mollitia exercitationem ad error, ratione
          earum maxime quia labore iusto odio ex veniam dolorem obcaecati. Ad
          asperiores, vitae quos reiciendis dolor voluptate libero non illo amet
          suscipit quam expedita optio. Aliquid ipsum vitae error nihil libero
          molestiae adipisci eius saepe dolorum provident, distinctio suscipit
          amet dignissimos. Omnis debitis ipsam amet vitae voluptate impedit
          nesciunt voluptatem sed eum! Reiciendis aspernatur voluptatem nam vero
          dicta iure, a blanditiis inventore cumque amet perferendis quae eius
          deserunt! Possimus animi, quas harum odio voluptatum a maiores
          consequatur ipsum quidem eum ducimus at quibusdam temporibus fugit
          doloremque eos iure. Officia, accusamus reprehenderit? Laudantium
          iure, earum perferendis molestias impedit aut rerum ipsum quasi hic,
          ad dicta optio expedita accusantium commodi voluptates cum, eligendi
          nesciunt voluptatem? Aspernatur tenetur, numquam ipsam voluptas ex
          impedit ipsum maiores repellat cupiditate provident, exercitationem
          accusantium laboriosam, nemo sunt dolorum recusandae quas perferendis
          sequi voluptatibus corporis quidem! Quod vero ducimus odit ullam
          cupiditate quibusdam neque accusantium provident sed quos, repellendus
          eveniet harum error aut ex, modi unde deleniti! Omnis sit placeat
          voluptas earum possimus voluptate ad rerum quam cumque molestias.
          Velit perspiciatis sed quia? Incidunt officia explicabo aliquid
          distinctio repudiandae id, esse totam fuga eum earum, accusantium
          quidem laudantium maiores omnis et ducimus sint? Ullam tempora fugiat
          adipisci itaque dicta vel libero tenetur reprehenderit dignissimos
          voluptates sunt recusandae ab asperiores, eveniet eum aliquid, dolor,
          nostrum minus? Excepturi eligendi ipsum sequi, culpa veniam sapiente
          aut, minima accusantium doloribus dolorem molestias dignissimos rerum
          possimus adipisci placeat vel a odit quidem, natus dolor! Consequuntur
          corrupti iste, et, dolores architecto ex amet laboriosam laudantium
          molestias suscipit saepe dolorem id quasi consequatur. Facilis
          accusamus ut alias repudiandae, quae quo neque, quasi modi tempora
          illo et iure voluptas.
        </p>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
